<label for="file">File:</label>
<input id="fileElem" type="file" name="file" accept="image/*" multiple />
<ul id='uploadList'></ul>
<script type="text/javascript" src="http://yui.yahooapis.com/3.3.0/build/yui/yui-min.js"></script>
<script type="text/javascript" src="/javascripts/upload.js"></script>
